body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #0F0;
  }
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .matrix {
    position: relative;
    height: 100%;
  }
  
  .number-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
  
  .number {
    font-size: 1em;
    position: absolute;
    animation: fall 2s;
  }
  
  @keyframes fall {
    0% {
      top: -20px;
      opacity: 1;
    }
    100% {
      top: 100%;
      opacity: 0;
    }
  }
  
  .form-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tile {
    background-color: #333;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Tahoma, Verdana, Arial, sans-serif;
    color-scheme: light dark;
    width: 35em;
  }
